.container {
    min-height: 100vh;
}

.list-group-item {
    cursor: pointer;
}

.completed li {
    text-decoration: line-through;
}

.completed li.active {
    background: gray;
    border: 1px solid yellow;
}